@import url("https://fonts.googleapis.com/css?family=Poppins");


.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* Page scrolling settings */
table {
  table-layout: fixed;
  overflow: scroll;
}

/* Page wide stuff */
body {
  background-color: white;
  margin-bottom: 60%;
}

/* Purple bar at the top w/ name/sign up/login */
#topbar {
  background-color: #5a41ea;
  height: 52px;
  width: 100%;
  border: 0;
}


/* Site name features */
#StudyBuddies {
    /* Color, position, textbox size */
    color: white;
    position: absolute;
    width: 256px;
    height: 45px;
    left: 16px;
    top: -10px;
    display: flex;

    /* Font and font size */
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
  }

  /* Login button features */
#login {
  /* Size, position */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 15px 0 15px;
  position: absolute;
  text-align: center;
  top: 380px;

  left: 50%;
  transform: translate(-50%, -50%);

  background: #5a41ea;
  border-radius: 60px;
  border: 0;

  /* Font, font size, color */
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
  color: #ffffff;
  }
  .noticebox {
    position: absolute;
    width: 60%;
    min-height: 200px;
    top: 530px;
    left: 20%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
    border: 0;
    background: #d0d4fc;
    border-top-width: 50px;
    border-top-color: #5a41ea;
    border-top-style: solid;
    box-shadow: 0rem 1rem 1rem 0rem #a8abdb;

  }

.noticebox h2 {
    position: absolute;
    text-align: center;
    width: 100%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    /* top was 640 */
    color: #ffffff;
    top:-60px;
  }
  
  .noticebox p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    margin-left: 10%;
    margin-right: 10%;
  }

  .loginPage {
    
    position: absolute;
    width: 100%;
    height: 83%;
    
    background-image: url("../images/group-of-happy-business-people.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;


  }

