

.profilePage{

    position: absolute;
    margin-left: 270px;
}

.note {
    font-size: 0.75em;
    color: #8178ab;
}

.inputHeader{
    position: relative;
}

.smallInput{
    padding: 10px;
    margin: 10px 0;
    border: solid;
    border-color: #5a41ea;
    border-radius: 10px;
    width: 350px;
}

.smallInput:focus { 
    outline: none !important;
    border: none;
    border-color: #5a41ea;
    box-shadow: 0 0 15px #5a41ea;
}


.largeInput{
    padding: 10px;
    margin: 10px 0;
    border: solid;
    border-color:#5a41ea;
    /* box-shadow:0 0 5px 1px #acaaaa; */
    border-radius: 15px;
    width: 350px;
    height: 75px;
}


.largeInput:focus{
    outline: none !important;
    border-color: #5a41ea;
    border:0;
    box-shadow: 0 0 10px #5a41ea;
}

#savebutton{
    /* color, textbox size */
    background-color: #5a41ea;
    border-radius: 50px;
    border: 0;
    
    position: relative;

    padding: 10px;
    
    /* Font, Font size, color */
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;

    color: white;
}

#savebutton:hover{
    background-color: #14006b;
    color: white;
    border-radius: 100px;
}
    
#savebutton:active{
    background-color:#5a41ea;
    color: white;

}

#saveMessage {
    display: none;
}